*{
	margin:0;
	padding:0;
	font-size:12px;
	}
#demo{
	width:600px;
	height:400px;
	background-color:#CCC;
	text-align:center;
	}
#demo p{
	font-size:80px;
	color:#F0F;
	}	
.demo{
	width:400px;
	height:50px;
	background-color:#F00;
	margin-left:100px;
	}	
#wraper{
	width:400px;
	height:50px;
	position:relative;
	left:99px;
	background-color:#FFF;
	border:1px solid #0FF;
	}
#wrape{
	width:40px;
	height:50px;
	float:left;
	display:none;
	}	
#wrap{
	outline:none;
	border:none;
	width:356px;
	height:50px;
	float:right;
	}	